<div class="container">
  <div class="row">
    <div class="col">
      <h4>予約日時</h4>
      <%= @reservation.start_date %>
      <h4>予約メニュー</h4>
      <%= @reservation.menu %><br>
      <% if @reservation.treatment == true %>
        トリートメントあり
      <% else %>
        トリートメントなし
      <% end %>

      <h4>お名前</h4>
      <%= @reservation.name %>
      <h4>返信用LINE名orお電話番号</h4>
      <%= @reservation.userinfo %>

      <%= form_with model: @reservation, local:true do |f| %>
        <%= f.hidden_field :start_date %>
	      <%= f.hidden_field :menu %>
	      <%= f.hidden_field :treatment %>
      	<%= f.hidden_field :name %>
      	<%= f.hidden_field :userinfo %>
        <%= f.submit '予約を確定する' %>
      <% end %>
    </div>
  </div>
</div>