<div class="container">
 <div class="row">
  <div class="col">
    <h2>未確認予約</h2>
  </div>
 </div>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">予約日</th>
            <th scope="col">名前</th>
            <th scope="col">メニュー</th>
            <th scope="col">LINE or 電話番号</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <% @reservation_new.each do |reservation| %>
            <tr>
              <th><%= reservation.start_date.strftime("%Y年 %m月 %d日 %H:%M") %></th>
              <th><%= reservation.name %></th>
              <th>
                <% if reservation.treatment == true %>
                   <%= reservation.menu %> +トリートメント
                <% else %>
                   <%= reservation.menu %>
                <% end %>
              </th>
              <th><%= reservation.userinfo %></th>
              <th><%= link_to "確認", edit_reservation_path(reservation.id) %><th>
              <th><%= link_to "削除", reservation_path(reservation.id), method: :delete %><th>
            </tr>
          <% end %>
        </tbody>
    </table>
</div>

<div class="container">
 <div class="row">
  <div class="col">
    <h2>確認済み予約</h2>
  </div>
 </div>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">予約日</th>
            <th scope="col">名前</th>
            <th scope="col">メニュー</th>
            <th scope="col">LINE or 電話番号</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <% @reservation_confirmed.each do |reservation| %>
            <tr>
              <th><%= reservation.start_date.strftime("%Y年 %m月 %d日 %H:%M") %> - <%= reservation.end_date.strftime("%H:%M") %></th>
              <th><%= reservation.name %></th>
              <th>
                <% if reservation.treatment == true %>
                   <%= reservation.menu %> +トリートメント
                <% else %>
                   <%= reservation.menu %>
                <% end %>
              </th>
              <th><%= reservation.userinfo %></th>
              <th><%= link_to "編集", edit_reservation_path(reservation.id) %><th>
              <th><%= link_to "削除", reservation_path(reservation.id), method: :delete %><th>
            </tr>
          <% end %>
        </tbody>
    </table>
</div>
