<!-- form_with部分 -->
<%= form_with model: @reservation, url: confirm_reservations_path, method: :get, local:true do |f| %>
  <h4>予約日時</h4>
  <%= f.text_field :start_date %>
  <h4>予約メニュー</h4>
  <%= f.text_field :menu_id %>
  <h4>お名前</h4>
  <%= f.text_field :name %>
  <h4>返信用LINE名orお電話番号</h4>
  <%= f.text_field :userinfo %>
  <%= f.submit '次へ' %>
<% end %>
