<div class="container">
  <div class="row">
    <div class="col">
      <% if @reservation.errors.any? %>
        <% @reservation.errors.full_messages.each do |massage| %>
          <%= massage %><br>
        <% end %>
      <% end %>

      <!-- form_with部分 -->
      <h4><%= @date %><h4>
      <%= form_with model: @reservation, url: confirm_reservations_path, method: :get, local:true do |f| %>
      <div class="form-group">
        <%= f.label :start_date, '予約時間' %>
        <%= f.datetime_select :start_date, use_month_numbers: true, minute_step: 30, start_time: 9, end_time: 19,  class: 'form-control' , required: true  %>
      </div>

    </div>
  </div>
  <div class="row">
    <div class="col">

        <h4>予約メニュー</h4>
        <%= f.radio_button(:menu, 'カット')%>
        <%= f.label :menu, "カット" %><br>
        <%= f.radio_button(:menu, 'パーマ(カット込み)')%>
        <%= f.label :menu, "パーマ(カット込み)" %><br>
        <%= f.radio_button(:menu, 'カラー(カット込み)')%>
        <%= f.label :menu, "カラー(カット込み)" %><br>
        <%= f.radio_button(:menu, 'ヘナカラー(カット込み)')%>
        <%= f.label :menu, "ヘナカラー(カット込み)" %><br>
        <%= f.radio_button(:menu, '酸性カラー(カット込み)')%>
        <%= f.label :menu, "酸性カラー(カット込み)" %><br>
        <%= f.radio_button(:menu, 'ストレート矯正(カット込み)')%>
        <%= f.label :menu, "ストレート矯正(カット込み)" %><br>
        <%= f.radio_button(:menu, 'デジタルパーマ(カット込み)')%>
        <%= f.label :menu, "デジタルパーマ(カット込み)" %><br>
        <%= f.radio_button(:menu, 'パリジェンヌラッシュリフト(次世代まつ毛パーマ)')%>
        <%= f.label :menu, "パリジェンヌラッシュリフト(次世代まつ毛パーマ)" %><br>
        <%#= f.check_box(:treatment)%>
        <%#= f.label :treatment, "トリートメントを追加する" %>
    </div>
  </div>
  <div class="row">
    <div class="col">
         <h4>お名前</h4>
        <%= f.text_field :name %><br>
    </div>
  </div>
  <div class="row">
    <div class="col">
        <h4>返信用LINE名orお電話番号</h4>
        <%= f.text_field :userinfo %><br>
        <%= f.submit '次へ' %>

        <%= hidden_field_tag :date, @date %>

      <% end %>
    </div>
  </div>
</div>