<!DOCTYPE html>
<html>
  <head>
    <title>Muse</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header class="p-3 ">
    <div class="container">
      <div class="row">
        <div class="col position-absolute.top-0.start-0">
          <div><%=link_to new_admin_session_path, class: "text-dark h1" do%>
              Muse
              
              <% end %>
              <%#= image_tag asset_path('muse_kamban.jpg'),size: "300x150" %>
          </div>
        </div>
        <div class="col d-flex align-items-center">
          <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
            <% if admin_signed_in? %>
              <li>
              <%= link_to 'Index', reservations_path, class: 'text-dark p-3' %>
              </li>
              <li>
                <%= link_to "Log out", destroy_admin_session_path, method: :delete, class: 'text-dark p-3' %>
              </li>
            <% else %>
              <li>
              <%= link_to 'Home', root_path, class: 'text-dark p-3' %>
              </li>

              <li>
                <%= link_to "Menu", menu_path, class: 'text-dark p-3' %>
              </li>

              <li>
                <%= link_to 'Reservation', new_date_reservations_path, class: 'text-dark p-3' %>
              </li>
            <% end %>
          </nav>
        </div>

      </div>
      <!--<div class="row d-flex align-items-start"><%#= image_tag  asset_path('sozai1.jpg'), size: "1000x80" %></div>-->
    </div>
  </header>

  <body data-turbolinks="false">
    <%= yield %>
  </body>

<footer>
  <div class="container">
    <div class="row">
      <div class="col">
        <h4>INFO</h4>
        <div class="txt">
          <p class="add">〒XXX-XXX<br>XX市XXX町XX-XX<br>TEL：XXX-XXX-XXXX</p>
        </div>
      </div>
      <div class="col">
        <h4>OPEN TIMES</h4>
        <div class="txt">
          <p class="opentime">9:00~19:00</p>
          <p>※月火曜定休</p>
        </div>
      </div>

      <div class="col">
        <h4>RESERVE</h4>
        <div class="txt">
          <p>ご予約はお電話でも承っております。</p>
          <p>XXX-XXX-XXX</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p class="text-center">© 2021 MUZE ALL RIGHTS RESERVED.</p>
      </div>
    </div>
  </div>
</footer>

</html>
